<div class="follow">
  <% if user.followed_by?(current_user) %>
    <%= link_to user.name, @user %>
    <%= form_tag unfollow_path(user_id: user.id), method: :post, remote: true do %>
      <%= button_tag 'unfollow', class: 'btn btn-primary', style: "border-color:#e5a537;background-color:#f7b23b;" %>
    <% end %>
  <% else %>
    <%= form_tag follow_path(user_id: user.id), method: :post, remote: true do %>
      <h5 class="name"><%= button_tag user.name, class: 'btn btn-success', style: "width:none;padding:0px;font-size:1.5rem;color:#428bca;background:none;border:none", onclick: "window.location.href='/users/#{user.name.downcase}'"%></h5>
    <% end %>
  <% end %>
</div>
